/* basic styling for the body*/
body {
    font-family: "Unna", sans-serif;
    background-color: #643e1b;
    font-weight: 300;
    padding: 20px;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

/* basic styling for the container and form */
.container {
    max-width: 800px;
    margin: 0 auto;
    font-family: "Unna", sans-serif;
    background-color: #EFE5DC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
}

/* selector */
#medicine-form input, #medicine-form select, #medicine-form button {
    padding: 10px;
    font-family: "Unna", sans-serif;
    margin: 5px;
}

/* "Add Medicine" button styling */
#medicine-form button[type="submit"] {
    background-color: #7a6358;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

/* styling the table */
table {
    width: 100%;
    font-family: "Unna", sans-serif;
    border-collapse: spacing;
    border-spacing: 8px 10px;
    margin-top: 20px;
    border-radius: 30px;
}


th, td {
    padding: 12px;
    text-align: left;
    border-radius: 10px;
}

th {
    background-color: #e7c195;
}

/* styling for the remove button */
.remove-btn {
    font-family: "Unna", sans-serif;
    background-color: #f55f5f9e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 7px;
}
