/* basic styling for the body */
body {
    font-family: ui-rounded;
    background-color: #643e1b;
    padding: 20px;
}

/* styling for the title */
h1 {
    color: white;
}

/* basic styling for the container and form */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #EFE5DC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(118, 93, 76, 0.2);
}

/* selector */
#medicine-form input, #medicine-form select, #medicine-form button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddc8aa; 
    border-radius: 4px;
}

/* styling the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #7a6358;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #d9cbb8;
    color: #4b3d34;
}

/* styling for the remove button */
.remove-btn {
    background-color: #ec9292; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}